@import url('https://rsms.me/inter/inter.css');
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  background-color: #e0e0e0;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', Inter, Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}
a:not([class]) {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  color: #0f61ff;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  border-color: transparent;
}
a:not([class]):hover {
  border-color: rgba(15, 97, 255, 0.5);
}
.dark a:not([class], .notion a) {
  color: #81a5f8;
}
.yellow-btn {
  box-shadow: rgba(255, 214, 2, 0.6) 0px 6px 12px 0px;
}
.yellow-btn:hover {
  box-shadow: rgba(255, 214, 2, 0.6) 0px 2px 4px 0px;
}
@media (prefers-color-scheme: dark) {
  .yellow-btn {
    box-shadow: none;
  }
}
.wechat img {
  display: none;
}
.wechat:hover img {
  display: inline-block;
}
.s3-round {
  border-radius: 100px;
}
.s3-hover:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  animation: s3-rotate 5s infinite linear, s3-opacity 5s infinite;
}
.s3-transition {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@-webkit-keyframes s3-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes s3-opacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.1;
  }
}
.s3-dotted {
  border-radius: 100px;
}
.s3-dotted:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  animation: s3-rotate 5s infinite linear, s3-opacity 5s infinite;
}
.s3-dashed {
  border-radius: 100px;
}
.s3-dashed:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  animation: s3-rotate 5s infinite linear, s3-opacity 5s infinite;
}
.jumbotron {
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  background-color: #faf9f7;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.04);
}
.dark .jumbotron {
  background-color: #333333;
}
.jumbotron-comment {
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  background-color: #faf9f7;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.04);
}
.dark .jumbotron-comment {
  background-color: #444;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-right-color: transparent;
  }
}
header h1 {
  font: bold 100% Monaco, monospace, Consolas;
  width: 16ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid;
  display: inline;
  color: #ff6b81;
  animation: typing 4s steps(16) 1, caret 1s steps(1) infinite;
}
.friend-txcolor {
  /* 亮色下 清晰的蓝色 */
  color: #4672fe;
}
.dark .friend-txcolor {
  color: skyblue;
}
@media screen and (min-width: 780px) {
  .friendbox {
    border-radius: 0.5rem;
    margin: 20px 0px 50px 0px;
    padding: 0px 22px 0px 22px;
  }
}
.friend-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 350px;
  border-radius: 0.25rem;
  margin: 10px 20px 10px 20px;
  background-color: #f8f8f8;
}
.dark .friend-box {
  background-color: #444;
}
.friendblock {
  display: inline-block;
  vertical-align: text-top;
}
.friend-box img.friend-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
  margin: 15px;
}
.friend-box .flink-info {
  height: auto;
  overflow: hidden;
  line-height: 25px;
  margin: 20px;
}
.markdown > * + * {
  margin-top: 1.2rem;
}
.markdown > h2,
h2.markdown {
  margin-top: 4rem !important;
  padding-bottom: 10px;
}
.markdown > h2:first-of-type,
h2:first-of-type.markdown {
  margin-top: 2rem !important;
}
.markdown > h3,
h3.markdown {
  margin-top: 3rem !important;
}
.markdown > h2 + h3 {
  margin-top: 1.5rem !important;
}
.markdown > h4,
h4.markdown {
  margin-top: 2rem !important;
}
.markdown > h3 + h4 {
  margin-top: 1.5rem !important;
}
.markdown ul,
.markdown ol {
  margin-top: 1rem !important;
}
.markdown li > ul,
.markdown li > ol {
  margin-top: 0.4rem !important;
}
.markdown > p strong::before,
.markdown > ul strong::before,
.markdown > ol strong::before {
  display: inline-block;
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
  position: absolute;
  opacity: 0.5;
  content: ' ';
  width: 100%;
  height: 100%;
  left: 0px !important;
  top: 0px !important;
  z-index: -1;
  border-radius: 0.4rem;
}
.border-indigo-500 {
  border-color: #667eea;
}
.markdown.notion b {
  color: #111 !important;
}
.markdown.notion strong {
  color: #111 !important;
}
.markdown > hr {
  margin-bottom: 2rem;
}
center,
center.notion {
  margin-left: -2rem !important;
  margin-right: -2rem !important;
}
/**for menu time */
.nav-time1 a,
.nav-time2 a {
  text-decoration: none;
  color: #333 !important;
  border: none;
}
.dark .nav-time1 a,
.dark .nav-time2 a {
  color: #bbb !important;
}
.nav-time1 {
  position: relative;
  /* 左上 和 右上 radius 0.25rem */
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-time2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  /**绝对于nav-time1*/
  display: none;
  margin-top: 28px;
  left: 0px;
  border-bottom-left-radius: 0.25rem;
}
.nav-time2 a {
  height: 32px;
  line-height: 32px;
  display: block;
  text-align: center;
  background: #f0f0f0;
}
.nav-time2 a:hover {
  background: #ffffff;
}
.dark .nav-time2 a {
  height: 32px;
  line-height: 32px;
  display: block;
  text-align: center;
  background: #555;
}
.dark .nav-time2 a:hover {
  background: #222;
}
/*切入显示nav-time2*/
.nav-time1:hover .nav-time2 {
  display: block;
}
[v-cloak] {
  display: none !important;
}
/* 覆盖 tailwind .inline-flex样式 */
.inline-flex {
  display: -webkit-inline-box;
  display: inline-flex;
  align-self: center;
  vertical-align: middle;
}
/*********************************
  * for memos css style
  *********************************/
#bber {
  margin-top: 2em;
}
@media screen and (max-width: 1000px) {
  #bber {
    margin-top: 2em;
    width: 100% !important;
  }
  .entry-content li,
  .comment-content li,
  .mu_register li {
    margin: 0;
  }
}
.bb-tag {
  color: #61c354;
  display: inline-block;
  margin-right: 1rem;
  font-weight: bold;
}
.image-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-rows: min-content;
  gap: 5px;
  margin-top: 1rem;
}
.image-container > .div-img {
  scrollbar-width: none;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  /* 容器布局需要使用 width,height*/
  object-fit: cover;
  /*等比例放大/缩小,同时裁剪多余部分*/
  vertical-align: middle;
  /*不然会与文字的基线对齐*/
}
.image-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /*保持比例填充但是可能有空白*/
  vertical-align: middle;
}
.image-container > .div-img:only-child > img,
.image-container > .div-img:only-child > video {
  width: auto;
  height: auto !important;
  max-height: 450px !important;
  max-width: 100% !important;
}
.bb-id-div {
  margin-left: 2rem;
}
.bb-id-div > .bb-id-tag {
  font-size: 1.2rem;
  color: #9b9b9b;
}
.bb-timeline pre {
  color: #aaa;
}
.bb-timeline ul {
  margin: 0;
  padding: 0;
}
.bb-timeline ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}
.bb-timeline ul li .datacont ul li {
  margin-bottom: 0;
}
.bb-timeline ul li .bb-div {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.dark .bb-timeline ul li .bb-div {
  background-color: #333;
}
.bb-load button {
  width: 100% !important;
  font-size: 1.5rem;
  background: none;
  border-radius: 10px;
  border: 0px solid #e7e9ef;
  padding: 10px 30px;
  letter-spacing: 0.5rem;
  text-align: center;
  color: #3b75f9;
}
.bb-timeline ul li .datatime {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  max-height: 100%;
}
.hy-avatar-block img {
  vertical-align: middle !important;
}
.bb-timeline ul li .datacont {
  margin: 10px 0px 0px 0px;
  min-height: 50px;
  word-break: normal;
  overflow-wrap: anywhere;
}
.datacont blockquote {
  font-family: KaiTi, STKaiti, STFangsong !important;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}
.datacont .tag-span {
  color: #98c1d9;
}
.datasource a {
  color: #fafafa;
  background: #3b3d42;
  padding: 2px 8px;
  margin: 0 6px 0 0;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 400;
}
.datacont .img {
  cursor: pointer;
  max-width: 250px;
  max-height: 400px;
  border-radius: 4px;
}
.datacont .img.square {
  height: 180px;
  width: 180px;
  object-fit: cover;
}
.datacont ul > li.task-list-item > input {
  margin: 0px 0.35em 0.25em 0em !important;
  vertical-align: middle !important;
}
#bb-footer {
  margin: 5rem auto 1rem;
  text-align: center;
}
#bb-footer p {
  margin: 0 0 0.6rem;
}
.video-wrapper {
  position: relative;
  padding-bottom: 55%;
  width: 100%;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}
.hy-avatar {
  max-height: 35px;
  max-width: 35px;
  border-radius: 50%;
}
.hy-intro {
  margin-left: 5px;
  margin: 0 0 0 1.2rem;
}
.hy-name {
  font-size: 0.8em;
  color: #6ea5f3 !important;
  font-weight: 700;
}
.hy-tag .hy-text-muted {
  color: #9b9b9b;
  text-align: right;
  font-size: 0.65em;
}
.hy-time .hy-text-muted {
  color: #9b9b9b;
  text-align: right;
  font-size: 0.65em;
}
.hy-time {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #9b9b9b;
  text-align: right;
  font-size: 0.65em;
  margin-top: 0px;
}
.hy-location {
  color: #576b95;
  margin-right: 10px;
}
.hy-astyle {
  text-decoration: none;
  cursor: pointer;
}
#gridea-search-form {
  align-self: center;
}
#gridea-search-form > input {
  width: 100%;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: text;
  width: 8rem;
  height: 1.8rem;
  color: #333333;
  display: inline-block;
  border: 1px solid #4c75f5;
  border-radius: 2rem;
  font-size: 0.9rem;
  line-height: 1.8rem;
  padding: 0 0.5rem 0 2rem;
  outline: none;
  transition: all ease 0.3s;
  background: #faf9f7 url(/media/images/search.svg) 0.6rem 0.4rem no-repeat;
  background-size: 1rem;
}
.dark #gridea-search-form > input {
  color: #adbac7;
  background: #444 url(/media/images/search.svg) 0.6rem 0.4rem no-repeat;
  background-size: 1rem;
}
/* markdown headings*/
/* .markdown 下面的所有 h2,h3,h4*/
.markdown h2 {
  position: relative;
  left: 3rem;
}
.markdown h2:before {
  content: 'H2';
  color: #3b75f9;
  position: absolute;
  left: -2em;
}
.dark .markdown h2:before {
  color: #42b983;
}
.markdown h2:after {
  content: '';
  position: absolute;
  left: -3rem;
  bottom: 0;
  width: 100%;
  /* 与 h2 元素宽度相同 */
  border-bottom: 1.5px solid #999;
}
.markdown h3 {
  position: relative;
  left: 2.5rem;
}
.markdown h3:before {
  content: 'H3';
  color: #3b75f9;
  position: absolute;
  left: -2em;
}
.dark .markdown h3:before {
  color: #42b983;
}
.markdown h4 {
  position: relative;
  left: 2.5rem;
}
.markdown h4:before {
  content: 'H4';
  color: #3b75f9;
  position: absolute;
  left: -2em;
}
.dark .markdown h4:before {
  color: #42b983;
}
/* 媒体/图片的题注，p标签样式*/
.caption {
  color: #888;
  text-align: center;
  font-size: 0.75rem !important;
}
/* gallary */
.nav-tabs {
  border-bottom: 1px solid #999;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 3px;
  list-style: none;
}
.nav-tabs .nav-item {
  margin-bottom: -1.5px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #333;
  background-color: #e9ecef;
  border-color: #999 #999 rgba(0, 0, 0, 0) #999;
}
.dark .nav-tabs .nav-item.show .nav-link,
.dark .nav-tabs .nav-link.active {
  color: #bbb;
  background-color: #333;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0f61ff;
}
.dark .nav-link {
  color: #81a5f8;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.fade.show {
  opacity: 1;
}
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
.dropdown,
.dropup {
  position: relative;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover:not(.active, :active) {
  display: block;
  background-color: #bee0ff;
}
pre div.line-highlight {
  width: 100%;
  position: absolute;
  left: 0;
  background: rgba(0, 150, 255, 0.2) !important;
  /* 适当透明的背景 */
  /* 清晰的边框 */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
  /* 添加阴影效果 */
}

      body {
        font-family: Inter, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      @supports (font-variation-settings: normal) {
        body {
          font-family: Inter, 'Inter var', Inter, Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
      }
    